* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
#padre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10% auto;
    width: 400px;
    height: 200px;
    border: 2px solid black;
    color: white;
}
#un {
    width: 200px;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: red;
}
#dos {
    width: 200px;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: blue;
}
#tres {
    width: 100px;
    height: 140px;
    margin: 0;
    padding: 0;
    background-color: yellow;
}
.AB {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 140px;
    border: 2px;
}
.A {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 140px;
    border: 2px;
}
#quatre {
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0%;
    background-color: purple;
}
#cinc {
    width: 200px;
    height: 70px;
    margin: 0;
    padding: 0%;
    background-color: cornflowerblue;
}
.B {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 140px;
    border: 2px;
}
#sis {
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0%;
    background-color: violet;
}
#set {
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0%;
    background-color: yellow;
}
#vuit {
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0%;
    background-color: white;
}
.C {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 140px;
    border: 2px;
}
#nou {
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0%;
    background-color: slategray;
}
#deu {
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0%;
    background-color: sienna;
}
#onze {
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0%;
    background-color: red;
}
#dotze {
    width: 100px;
    height: 70px;
    margin: 0;
    padding-top: 0%;
    background-color: brown;
}