#form {
    margin-top: 100px;
    text-align: center;
}
button {
    border-radius: 20px;
}
#storage {
    margin-top: 100px;
    text-align: center;
}
.button {
    border-radius: 20px;
}