.horari {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
}
#Hora {
    grid-row: 1;
    grid-column: 1;
    background-color: darkgreen;
    border: blue 1px solid;
}
#Dilluns {
    grid-row: 1;
    grid-column: 2;
    background-color: white;
    border: blue 1px solid;
}
#Dimarts {
    grid-row: 1;
    grid-column: 3;
    background-color: white;
    border: blue 1px solid;
}
#Dimecres {
    grid-row: 1;
    grid-column: 4;
    background-color: white;
    border: blue 1px solid;
}
#Dijous {
    grid-row: 1;
    grid-column: 5;
    background-color: white;
    border: blue 1px solid;
}
#Divendres {
    grid-row: 1;
    grid-column: 6;
    background-color: white;
    border: blue 1px solid;
}
#Hora1 {
    grid-row: 2;
    grid-column: 1;
    background-color: white;
    border: blue 1px solid;
}
#Hora2 {
    grid-row: 3;
    grid-column: 1;
    background-color: white;
    border: blue 1px solid;
}
#Hora3 {
    grid-row: 4;
    grid-column: 1;
    background-color: white;
    border: blue 1px solid;
}
#Hora4 {
    grid-row: 5;
    grid-column: 1;
    background-color: white;
    border: blue 1px solid;
}
#Hora5 {
    grid-row: 6;
    grid-column: 1;
    background-color: white;
    border: blue 1px solid;
}
#Hora6 {
    grid-row: 7;
    grid-column: 1;
    background-color: white;
    border: blue 1px solid;
}
#M6a {
    grid-area: 2 / 2 / span 2 / span 1;
    background-color: pink;
    border: blue 1px solid;
}
#M7a {
    grid-area: 2 / 3 / span 2 / span 1;
    background-color: darkslategrey;
    border: blue 1px solid;
}
#M7b {
    grid-area: 2 / 4 / span 2 / span 1;
    background-color: darkslategrey;
    border: blue 1px solid;
}
#M11a {
    grid-area: 2 / 5 / span 2 / span 1;
    background-color: greenyellow;
    border: blue 1px solid;
}
#M12a {
    grid-area: 2 / 6 / span 2 / span 1;
    background-color: orange;
    border: blue 1px solid;
}
#M11b {
    grid-row: 4;
    grid-column: 2;
    background-color: greenyellow;
    border: blue 1px solid;
}
#M8a {
    grid-row: 4;
    grid-column: 3;
    background-color: yellow;
    border: blue 1px solid;
}
#Tutoria {
    grid-row: 4;
    grid-column: 4;
    background-color:red;
    border: blue 1px solid;
}
#M6b {
    grid-row: 4;
    grid-column: 5;
    background-color: pink;
    border: blue 1px solid;
}
#M6c {
    grid-row: 4;
    grid-column: 6;
    background-color: pink;
    border: blue 1px solid;
}
#Pati {
    grid-area: 5 / 2 / span 1 / span 5;
    background-color: white;
    border: blue 1px solid;
}
#M8b {
    grid-area: 6 / 2 / span 2 / span 1;
    background-color: yellow;
    border: blue 1px solid;
}
#M8c {
    grid-area: 6 / 3 / span 2 / span 1;
    background-color: yellow;
    border: blue 1px solid;
}
#M8d {
    grid-area: 6 / 4 / span 2 / span 1;
    background-color: yellow;
    border: blue 1px solid;
}
#M6d {
    grid-row: 6;
    grid-column: 5;
    background-color: pink;
    border: blue 1px solid;
}
#M6e {
    grid-row: 6;
    grid-column: 6;
    background-color: pink;
    border: blue 1px solid;
}
#M7c {
    grid-row: 7;
    grid-column: 5;
    background-color: darkslategrey;
    border: blue 1px solid;
}