#titol {
    color: teal;
}
#strong {
    color: red;
}
.destacat {
    color: orange;
}
#subtitol {
    color: blue;
}
#aenean {
    color: red;
}
#em {
    color: blue;
}
#porttitor {
    color: purple;
}
#caption {
    color: blue;
}
.especial {
    color: orange;
}
#donec {
    color: green;
}
#row {
    color: red;
}
#especial {
    color: orange;
}
#adicional {
    color: olive;
}
#special {
    color: fuchsia;
}
