* {
    margin: 0;
    padding: 0;
}
/*body {
    background-color: black;
}*/
#padre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10% auto;
    width: 400px;
    height: 200px;
    border: 2px solid black;
    color: white;
}
#un {
    width: 20px;
    height: 7px;
    margin: 0;
    padding: 0;
}
#dos {
    width: 20px;
    height: 7px;
    margin: 0;
    padding: 0;
}
#tres {
    width: 10px;
    height: 14px;
    margin: 0;
    padding: 0;
}
.AB {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 14px;
    border: 2px;
}
.A {
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 14px;
    border: 2px;
}
#quatre {
    width: 10px;
    height: 7px;
    margin: 0;
    padding: 0%;
}
#cinc {
    width: 20px;
    height: 7px;
    margin: 0;
    padding: 0%;
}
.B {
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 14px;
    border: 2px;
}
#sis {
    width: 10px;
    height: 7px;
    margin: 0;
    padding: 0%;
}
#set {
    width: 10px;
    height: 7px;
    margin: 0;
    padding: 0%;
}
#vuit {
    width: 10px;
    height: 7px;
    margin: 0;
    padding: 0%;
}
.C {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 14px;
    border: 2px;
}
#nou {
    width: 10px;
    height: 7px;
    margin: 0;
    padding: 0%;
}
#deu {
    width: 10px;
    height: 7px;
    margin: 0;
    padding: 0%;
}
#onze {
    width: 10px;
    height: 7px;
    margin: 0;
    padding: 0%;
}
#dotze {
    width: 10px;
    height: 7px;
    margin: 0;
    padding-top: 0%;
}